.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;

  /* retire la poignée de redimensionnement dans Firefox */
  resize: none;

  /* retire le contour lors de la concentration sur Chrome */
  outline: none;

  /* retire la barre de défillement sur IE */
  overflow: auto;
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}
